<footer class="py-0 lg:pt-20 pb-2 relative bg-navyBlueDark">
    <div class="w-full absolute opacity-5 bottom-0">
        <img src="../assets/images/footer-shape.png" class="w-full">
    </div>
    <div class="p-3 lg:p-0 max-w-screen-xl mx-auto ">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-16">

            <div class="space-y-4">
                <div class="">
                    <h2 class="text-xl text-gray-50 font-bold font-[Asap]">Contact Us</h2>
                </div>
                <div class="">
                    <p class="text-gray-300 text-sm">
                        5919 Trussville Crossings Pkwy,
                        Birmingham AL 35235
                    </p>
                </div>
                <div class="">
                    <div class="space-y-3">
                        <div class="flex space-x-3 items-center">
                            <div class="border border-gray-300 w-8 h-8 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-primaryRed" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </div>

                            <div class="text-gray-300 text-sm">
                                California, TX 70240
                            </div>
                        </div>

                        <div class="flex space-x-3 items-center">
                            <div class="border border-gray-300  w-8 h-8 flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-primaryRed" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </div>

                            <div class="text-gray-300 text-sm">
                                info@gmail.com
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="space-y-4">
                <div class="">
                    <h2 class="text-xl text-gray-50 font-bold font-[Asap]">Services</h2>
                </div>

                <div class="">
                    <ul>
                        <li class="">
                            <p class="flex space-x-1 ">
                                <span>
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="caret-right"
                                        class="svg-inline--fa fa-caret-right fa-w-6 h-4 w-4 text-gray-500"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                        <path fill="currentColor"
                                            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" />
                                    </svg>
                                </span>
                                <a href="#" class="text-gray-300 text-sm">Oil & Gas</a>
                            </p>
                        </li>

                        <li>
                            <p class="flex space-x-1">
                                <span>
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="caret-right"
                                        class="svg-inline--fa fa-caret-right fa-w-6 h-4 w-4 text-gray-500"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                        <path fill="currentColor"
                                            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" />
                                    </svg>
                                </span>
                                <a href="#" class="text-gray-300 text-sm">Chemical Research</a>
                            </p>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="space-y-4">
                <div class="">
                    <h2 class="text-xl text-gray-50 font-bold font-[Asap]">Useful Links</h2>
                </div>

                <div class="">
                    <ul>
                        <li>
                            <p class="flex space-x-1 ">
                                <span>
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="caret-right"
                                        class="svg-inline--fa fa-caret-right fa-w-6 h-4 w-4 text-gray-500"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                        <path fill="currentColor"
                                            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" />
                                    </svg>
                                </span>
                                <a href="#" class="text-gray-300 text-sm">Oil & Gas</a>
                            </p>
                        </li>

                        <li>
                            <p class="flex space-x-1">
                                <span>
                                    <svg aria-hidden="true" data-prefix="fas" data-icon="caret-right"
                                        class="svg-inline--fa fa-caret-right fa-w-6 h-4 w-4 text-gray-500"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                        <path fill="currentColor"
                                            d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" />
                                    </svg>
                                </span>
                                <a href="#" class="text-gray-300 text-sm">Chemical Research</a>
                            </p>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="space-y-4">
                <div class="">
                    <h2 class="text-xl text-gray-50 font-bold font-[Asap]">Opening Hours</h2>
                </div>

                <div class="">
                    <ul class="divide-gray-200 space-y-4">

                        <li class="flex justify-between border-b border-b pb-1">
                            <p class="text-gray-300 text-sm">
                                Sat - Sun :
                            </p>
                            <p class="text-gray-300 text-sm">
                                8.00 - 14.30
                            </p>
                        </li>

                        <li class="flex justify-between border-b border-b pb-1">
                            <p class="text-gray-300 text-sm">
                                Monday
                            </p>
                            <p class="text-gray-300 text-sm">
                                8.00 - 14.30
                            </p>
                        </li>

                        <li class="flex justify-between border-b border-b pb-1">
                            <p class="text-gray-300 text-sm">
                                Wed - Thu :
                            </p>
                            <p class="text-gray-300 text-sm">
                                8.00 - 14.30
                            </p>
                        </li>

                        <li class="flex justify-between border-b border-b pb-1">
                            <p class="text-gray-300 text-sm">
                                Friday
                            </p>
                            <p class="text-gray-300 text-sm">
                                <span class="bg-primaryRed text-white p-1">
                                    Closed
                                </span>
                            </p>
                        </li>





                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-bottom flex flex-col lg:flex-row justify-between my-12">
            <div class="text-center lg:text-left">
                <p class="text-white">
                    &copy; Copyright 2021. All Rights Reserved by validthemes
                </p>
            </div>
            <div class="">
                <ul class="flex space-x-3 justify-center">
                    <li>
                        <p class="text-white">
                            Terms of user
                        </p>
                    </li>
                    <li>
                        <p class="text-white">
                            License
                        </p>
                    </li>
                    <li>
                        <p class="text-white">
                            Support
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>