<section id="services" class=" py-20 bg-gray-100 relative">
    <div class="absolute top-0 opacity-50">
      <img src="../assets/images/5.png" class=" w-auto" alt="" srcset="">
    </div>
  
  
    <div class="max-w-screen-2xl mx-auto relative">
      <div class="hidden xl:block absolute top-0 -right-40">
        <img src="../assets/images/6.png" class="h-72 w-auto" alt="" srcset="">
      </div>
      <div class="relative">
  
        <div class="text-center space-y-4 ">
          <p class="text-primaryRed">WHAT WE DO </p>
          <h2 class="text-4xl text-gray-800 font-bold font-[Asap]">
            Our Services
  
          </h2>
          <div class="w-12 h-[2px] bg-primaryRed flex self-center mx-auto	"></div>
  
          <p class="text-sm text-gray-500">
            While mirth large of on front. Ye he greater related adapted proceed entered an. Through it<br> examine
            express
            promise no. Past add size game cold girl off how old
  
  
          </p>
  
        </div>
  
        <div class="w-full mt-24 flex flex-col lg:flex-row space-y-4 lg:space-y-0 space-x-0 lg:space-x-8">
  
          <div class="w-full lg:w-1/4">
  
            <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4 relative group">
              <div class="relative">
                <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">
  
              </div>
              <h2 class="text-xl font-bold">
                Oil and Gass Energy
              </h2>
              <p class="text-sm leading-normal text-center text-gray-600">
                Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
                marriage.
  
  
              </p>
              <div
                class=" absolute inset-x-0 bottom-0 transition duration-150 ease-in-out w-full h-1 bg-primaryRed group-hover:flex justify-center items-center hidden">
  
                <div class="w-10 h-10 bg-primaryRed rounded-full flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </div>
  
              </div>
  
            </div>
  
  
          </div>
  
  
          <div class="w-full lg:w-1/4">
            <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4">
              <div class="relative">
                <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">
  
              </div>
              <h2 class="text-xl font-bold">
                Agriculture Automation
              </h2>
              <p class="text-sm leading-normal text-center text-gray-600">
                Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
                marriage.</p>
  
              <div
                class=" absolute inset-x-0 bottom-0 w-full h-1 bg-primaryRed group-hover:flex justify-center items-center hidden">
  
                <div class="w-10 h-10 bg-primaryRed rounded-full flex items-center justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                  </svg>
                </div>
  
              </div>
  
            </div>
  
  
  
          </div>
  
  
          <div class="w-full lg:w-1/4">
            <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4 group">
              <div class="relative">
                <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">
  
              </div>
              <h2 class="text-xl font-bold">
                Civil Engineering
              </h2>
              <p class="text-sm leading-normal text-center text-gray-600">
                Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
                marriage.
  
  
              </p>
  
  
  
            </div>
          </div>
  
  
          <div class="w-full lg:w-1/4">
            <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4">
              <div class="relative">
                <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">
  
              </div>
              <h2 class="text-xl font-bold">
                Bridge Construction
              </h2>
              <p class="text-sm leading-normal text-center text-gray-600">
                Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
                marriage.
  
  
              </p>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </section>