<header class="flex flex-col justify-center h-screen no-repeat"
  style="background-image: url('../assets/images/headerbg.jpeg');">
  <div class="p-4 lg:p-0 max-w-screen-2xl mx-auto w-full font-bold space-y-6">
    <h2 class="text-4xl lg:text-6xl text-white font-[Asap]">
      Empowering Oil Refiling<br> Processing Plants
    </h2>
    <p class="text-lg text-white font-normal">
      Last ask him cold feel met spot shy want. Children me laughing we prospect answered<br> followed. At it went is
      song. Last ask him cold feel met spot shy want.


    </p>

    <button type="button"
      class="font-normal bg-primaryRed text-white p-4 px-12 hover:bg-gray-50 hover:text-gray-900 hover:transition ease-in-out delay-150">View
      Projects</button>
  </div>
</header>