<div class="hidden lg:flex">

  <div class="w-1/3 bg-primaryRed h-12 flex items-center justify-center" style="">

    <!-- style="clip-path: polygon(0 80%, 90% 80%, 100% 100%, 0 100%); height: full;  -->
    <ul class="flex items-center justify-center space-x-6">






      <li>
        <a href="">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4- w-4 text-white fill-current">
            <path
              d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" />
          </svg>
        </a>
      </li>

      <li>
        <a href="">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4- w-4 text-white fill-current">
            <path
              d="M23.953 4.57a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.06a4.923 4.923 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.212.085 4.936 4.936 0 0 0 4.604 3.417 9.867 9.867 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0 0 24 4.59z" />
          </svg>
        </a>
      </li>

      <li>
        <a href="">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4- w-4 text-white fill-current">
            <path
              d="M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.401.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.92-7.252 4.158 0 7.392 2.967 7.392 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z" />
          </svg>
        </a>
      </li>

      <li>
        <a href="">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="h-4- w-4 text-white fill-current">
            <path
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
          </svg>
        </a>
      </li>

    </ul>
  </div>

  <div class="w-2/3 bg-navyBlue h-12 flex items-center justify-center">
    <ul class="flex space-x-3">

      <li class="flex space-x-3">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primaryRed" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </span>
        <a href="" class="text-white">California, TX 70240 </a>
      </li>

      <li class="flex space-x-3">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primaryRed" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
          </svg>
        </span>
        <a href="" class="text-white"> info@gmail.com </a>
      </li>

    </ul>
  </div>
</div>



<nav class="bg-white hidden lg:block">
  <div class="max-w-screen-2xl mx-auto h-24 flex justify-between items-center ">
    <div class="logo">
      <img src="../assets/images/logo.png">
    </div>
    <div class="menu">
      <ul class="flex space-x-6">
        <li>Home</li>
        <li>Pages</li>
        <li>Projects</li>
        <li>Services</li>
        <li>Team</li>
        <li>Blog</li>
        <li>Contact us</li>

        <li class="w-8 h-8 bg-primaryRed rounded-full flex flex-shrink-o items-center justify-center ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </li>

      </ul>
    </div>
  </div>
</nav>


<header class="flex flex-col justify-center h-screen no-repeat"
  style="background-image: url('../assets/images/headerbg.jpeg');">
  <div class="p-4 lg:p-0 max-w-screen-2xl mx-auto w-full font-bold space-y-6">
    <h2 class="text-6xl text-white font-[Asap]">
      Empowering Oil Refiling<br> Processing Plants
    </h2>
    <p class="text-lg text-white font-normal">
      Last ask him cold feel met spot shy want. Children me laughing we prospect answered<br> followed. At it went is
      song. Last ask him cold feel met spot shy want.


    </p>

    <button type="button"
      class="font-normal bg-primaryRed text-white p-4 px-12 hover:bg-gray-50 hover:text-gray-900 hover:transition ease-in-out delay-150">View
      Projects</button>
  </div>
</header>


<section id="" class="py-20 relative">
  <div class="absolute inset-0 flex justify-end">
    <img src="../assets/images/bg2.png" class="h-full w-auto" alt="" srcset="">
  </div>
  <div class="max-w-screen-2xl mx-auto relative">
    <div class="flex flex-wrap flex-row-reverse items-center max-w-6xl mx-auto">

      <div class="w-full lg:w-1/2 p-4">
        <div class="space-y-6">
          <h2 class="text-4xl text-gray-800 font-bold font-[Asap]">
            Let’s Build Something<br>
            Creative Together
          </h2>
          <p>
            Repair summer one winter living feebly pretty his. In so sense am known these since. Shortly respect ask
            cousins brought. Last ask him cold feel met spot shy want. Children me laughing we prospect. Me we offending


          </p>
          <ul class="space-y-2">

            <li class="flex items-center space-x-2">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-primaryRed" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
              <span>Invest in your simply neighborhood
              </span>
            </li>

            <li class="flex items-center space-x-2">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-primaryRed" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
              <span>Invest in your simply neighborhood
              </span>
            </li>


            <li class="flex items-center space-x-2">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-primaryRed" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>
              <span>Invest in your simply neighborhood
              </span>
            </li>

          </ul>


          <div class="flex space-x-6 items-center">
            <div class="bg-navyBlue w-16 h-16 rounded-full flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-50" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 8l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z" />
              </svg>
            </div>
            <div class="">
              <h2 class="font-bold text-lg">+886 34467</h2>
              <p class="text-sm">Call Us Anytime</p>
            </div>
            <button type="button"
              class="font-normal bg-primaryRed text-white p-4 px-12 hover:bg-navyBlue hover:text-gray-50">Discover
              More</button>
          </div>
        </div>

      </div>
      <div class="w-full lg:w-1/2 p-4">
        <div class="flex justify-center relative">
          <div class="absolute -top-12 -left-32 hidden lg:block">
            <img src="../assets/images/pattern.png" alt="" srcset="">
          </div>
          <img src="../assets/images/1.jpeg" alt="" srcset="" class="h-[500px] w-full object-cover relative" />

          <div
            class="space-y-2 p-4 h-56 w-56 bg-red-500 flex flex-col justify-center flex-shrink-o absolute  bottom-10 -left-28 z-50 border-4 border-white">
            <h2 class="text-6xl text-white font-bold font-[Asap]">
              25
            </h2>
            <p class="text-white leading-tight text-sm">
              Years Work experience in Construction Managers
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>




<section id="services" class="py-20 bg-gray-100 relative">
  <div class="absolute top-0 opacity-50">
    <img src="../assets/images/5.png" class=" w-auto" alt="" srcset="">
  </div>


  <div class="max-w-screen-2xl mx-auto relative">
    <div class="hidden lg:block absolute top-0 -right-40">
      <img src="../assets/images/6.png" class="h-72 w-auto" alt="" srcset="">
    </div>
    <div class="relative">

      <div class="text-center space-y-4 ">
        <p class="text-primaryRed">WHAT WE DO </p>
        <h2 class="text-4xl text-gray-800 font-bold font-[Asap]">
          Our Services

        </h2>
        <div class="w-12 h-[2px] bg-primaryRed flex self-center mx-auto	"></div>

        <p class="text-sm text-gray-500">
          While mirth large of on front. Ye he greater related adapted proceed entered an. Through it<br> examine
          express
          promise no. Past add size game cold girl off how old


        </p>

      </div>

      <div class="w-full mt-24 flex flex-col lg:flex-row space-x-8">

        <div class="w-full lg:w-1/4">

          <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4 relative group">
            <div class="relative">
              <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">

            </div>
            <h2 class="text-xl font-bold">
              Oil and Gass Energy
            </h2>
            <p class="text-sm leading-normal text-center text-gray-600">
              Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
              marriage.


            </p>
            <div
              class=" absolute inset-x-0 bottom-0 transition duration-150 ease-in-out w-full h-1 bg-primaryRed group-hover:flex justify-center items-center hidden">

              <div class="w-10 h-10 bg-primaryRed rounded-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </div>

            </div>

          </div>


        </div>


        <div class="w-full lg:w-1/4">
          <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4">
            <div class="relative">
              <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">

            </div>
            <h2 class="text-xl font-bold">
              Agriculture Automation
            </h2>
            <p class="text-sm leading-normal text-center text-gray-600">
              Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
              marriage.</p>

            <div
              class=" absolute inset-x-0 bottom-0 w-full h-1 bg-primaryRed group-hover:flex justify-center items-center hidden">

              <div class="w-10 h-10 bg-primaryRed rounded-full flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </div>

            </div>

          </div>



        </div>


        <div class="w-full lg:w-1/4">
          <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4 group">
            <div class="relative">
              <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">

            </div>
            <h2 class="text-xl font-bold">
              Civil Engineering
            </h2>
            <p class="text-sm leading-normal text-center text-gray-600">
              Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
              marriage.


            </p>



          </div>
        </div>


        <div class="w-full lg:w-1/4">
          <div class="bg-white flex flex-col items-center justify-center shadow-lg p-6 py-20 space-y-4">
            <div class="relative">
              <img src="../assets/images/redShape.png" class="h-24 opacity-10 " alt="" srcset="">

            </div>
            <h2 class="text-xl font-bold">
              Bridge Construction
            </h2>
            <p class="text-sm leading-normal text-center text-gray-600">
              Direct enough off others say eldest may exeter she pain oni. Possible all ignorant supplied get settling
              marriage.


            </p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>



<section class="py-20">
  <div class="relative">



    <div class="relative ">
      <div class="w-1/2 h-full bg-primaryRed absolute left-0"> </div>
      <div class="flex relative max-w-6xl mx-auto ">
        <div class="flex flex-col justify-center 1/2 p-12 space-y-6 bg-primaryRed py-24">

          <div class="space-y-3">
            <h2 class="text-xl text-white font-bold font-[Asap]">Building better products</h2>
            <p class="text-white text-sm">Words which don't look even believable. If you are going appoinments to use
              maximum need to be sure there
              isn't anything.

            </p>
          </div>

          <div class="space-y-3">
            <h2 class="text-xl text-white font-bold font-[Asap]">Building better products</h2>
            <p class="text-white text-sm">Words which don't look even believable. If you are going appoinments to use
              maximum need to be sure there
              isn't anything.

            </p>
          </div>


          <div class="flex space-x-6">

            <div class="border-r-2 pr-4">
              <h2 class="text-white text-4xl font-bold font-[Asap]">86K</h2>
              <p class="text-sm text-white">Trusted Users</p>
            </div>

            <div class="">
              <h2 class="text-white text-4xl font-bold font-[Asap]">100%</h2>
              <p class="text-sm text-white">Positive Rating
              </p>
            </div>


          </div>

        </div>
        <div class="1/2 bg-center bg-cover py-24" style="background-image: url('../assets/images/20.jpeg');">
          <div class="p-6 flex flex-col items-center justify-center h-96 space-y-4 text-center ">
            <h2 class="text-4xl text-white font-bold font-[Asap] ">
              Our Construction is
              Built on Culture
            </h2>
            <p class="text-md text-white">
              Our work is only good as our people. Meet the team who makes our projects successful.


            </p>

            <button type="button"
              class="font-normal bg-gray-100 text-gray-600 p-4 px-12 hover:bg-primaryRed hover:text-gray-50">START
              CONSULTING</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>




<section id="" class="py-20 bg-cover bg-no-repeat bg-fixed"
  style="background-image: url('../assets/images/bgwhatwedo.png');">
  <div class="max-w-screen-2xl mx-auto">
    <div class="text-center space-y-4 ">

      <p class="text-primaryRed">HOW WE WORK </p>
      <h2 class="text-4xl text-gray-800 font-bold font-[Asap]">
        Work Process


      </h2>
      <div class="w-12 h-[2px] bg-primaryRed flex self-center mx-auto	"></div>

      <p class="text-sm text-gray-500">
        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it<br> examine
        express
        promise no. Past add size game cold girl off how old


      </p>

    </div>


    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-16">

      <div class="border space-y-8 px-12 py-16 relative group ">
        <div class="">
          <div class="group-hover:border-t-2 w-full absolute h-2 border-primaryRed inset-0 transition-all duration-200">
          </div>
          <div
            class="group-hover:border-r-2 w-4 absolute h-full border-primaryRed right-0 -top-0 transition-all duration-500 delay-200">
          </div>
          <div
            class="group-hover:border-r-2 w-4 absolute h-full border-primaryRed -left-4 -top-0 transition-all duration-500 delay-300">
          </div>
          <div
            class="group-hover:border-t-2 w-full absolute h-2 border-primaryRed -left-0 -bottom-2 transition-all duration-500 delay-400">
          </div>
        </div>

        <div class="">
          <svg aria-hidden="true" data-prefix="fas" data-icon="pencil-ruler"
            class="svg-inline--fa fa-pencil-ruler h-12 w-12 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="m109.46 244.04 134.58-134.56-44.12-44.12-61.68 61.68a7.919 7.919 0 0 1-11.21 0l-11.21-11.21c-3.1-3.1-3.1-8.12 0-11.21l61.68-61.68-33.64-33.65C131.47-3.1 111.39-3.1 99 9.29L9.29 99c-12.38 12.39-12.39 32.47 0 44.86l100.17 100.18zm388.47-116.8c18.76-18.76 18.75-49.17 0-67.93l-45.25-45.25c-18.76-18.76-49.18-18.76-67.95 0l-46.02 46.01 113.2 113.2 46.02-46.03zM316.08 82.71l-297 296.96L.32 487.11c-2.53 14.49 10.09 27.11 24.59 24.56l107.45-18.84L429.28 195.9 316.08 82.71zm186.63 285.43-33.64-33.64-61.68 61.68c-3.1 3.1-8.12 3.1-11.21 0l-11.21-11.21c-3.09-3.1-3.09-8.12 0-11.21l61.68-61.68-44.14-44.14L267.93 402.5l100.21 100.2c12.39 12.39 32.47 12.39 44.86 0l89.71-89.7c12.39-12.39 12.39-32.47 0-44.86z" />
          </svg>
        </div>

        <div class="relative">
          <h2 class="text-7xl font-bold text-gray-100 absolute  -top-5">01</h2>
          <h2 class="font-bold relative tracking-wide">Design</h2>
        </div>
        <div class="">
          <p class="text-sm text-gray-500 leading-6">
            Preserved believing extremity. Easy mr pain felt in. Too northward affection additions nay. He no an nature
            ye talent houses wisdom vanity denied.
          </p>
        </div>

      </div>

      <div class="border space-y-8 p-10">

        <div class="">
          <svg aria-hidden="true" data-prefix="fas" data-icon="pencil-ruler"
            class="svg-inline--fa fa-pencil-ruler h-12 w-12 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="m109.46 244.04 134.58-134.56-44.12-44.12-61.68 61.68a7.919 7.919 0 0 1-11.21 0l-11.21-11.21c-3.1-3.1-3.1-8.12 0-11.21l61.68-61.68-33.64-33.65C131.47-3.1 111.39-3.1 99 9.29L9.29 99c-12.38 12.39-12.39 32.47 0 44.86l100.17 100.18zm388.47-116.8c18.76-18.76 18.75-49.17 0-67.93l-45.25-45.25c-18.76-18.76-49.18-18.76-67.95 0l-46.02 46.01 113.2 113.2 46.02-46.03zM316.08 82.71l-297 296.96L.32 487.11c-2.53 14.49 10.09 27.11 24.59 24.56l107.45-18.84L429.28 195.9 316.08 82.71zm186.63 285.43-33.64-33.64-61.68 61.68c-3.1 3.1-8.12 3.1-11.21 0l-11.21-11.21c-3.09-3.1-3.09-8.12 0-11.21l61.68-61.68-44.14-44.14L267.93 402.5l100.21 100.2c12.39 12.39 32.47 12.39 44.86 0l89.71-89.7c12.39-12.39 12.39-32.47 0-44.86z" />
          </svg>
        </div>

        <div class="relative">
          <h2 class="text-7xl font-bold text-gray-100 absolute  -top-5">02</h2>
          <h2 class="font-bold relative">Planning</h2>
        </div>
        <div class="">
          <p class="text-sm text-gray-500 leading-6">
            Preserved believing extremity. Easy mr pain felt in. Too northward affection additions nay. He no an nature
            ye talent houses wisdom vanity denied.
          </p>
        </div>

      </div>


      <div class="border space-y-8 p-10">

        <div class="">
          <svg aria-hidden="true" data-prefix="fas" data-icon="pencil-ruler"
            class="svg-inline--fa fa-pencil-ruler h-12 w-12 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="m109.46 244.04 134.58-134.56-44.12-44.12-61.68 61.68a7.919 7.919 0 0 1-11.21 0l-11.21-11.21c-3.1-3.1-3.1-8.12 0-11.21l61.68-61.68-33.64-33.65C131.47-3.1 111.39-3.1 99 9.29L9.29 99c-12.38 12.39-12.39 32.47 0 44.86l100.17 100.18zm388.47-116.8c18.76-18.76 18.75-49.17 0-67.93l-45.25-45.25c-18.76-18.76-49.18-18.76-67.95 0l-46.02 46.01 113.2 113.2 46.02-46.03zM316.08 82.71l-297 296.96L.32 487.11c-2.53 14.49 10.09 27.11 24.59 24.56l107.45-18.84L429.28 195.9 316.08 82.71zm186.63 285.43-33.64-33.64-61.68 61.68c-3.1 3.1-8.12 3.1-11.21 0l-11.21-11.21c-3.09-3.1-3.09-8.12 0-11.21l61.68-61.68-44.14-44.14L267.93 402.5l100.21 100.2c12.39 12.39 32.47 12.39 44.86 0l89.71-89.7c12.39-12.39 12.39-32.47 0-44.86z" />
          </svg>
        </div>

        <div class="relative">
          <h2 class="text-7xl font-bold text-gray-100 absolute  -top-5">03</h2>
          <h2 class="font-bold relative">Development</h2>
        </div>
        <div class="">
          <p class="text-sm text-gray-500 leading-6">
            Preserved believing extremity. Easy mr pain felt in. Too northward affection additions nay. He no an nature
            ye talent houses wisdom vanity denied.
          </p>
        </div>

      </div>


    </div>


  </div>
</section>



<!-- =====Gallary=== -->

<section id="" class="relative bg-gray-100 py-20 bg-cover bg-no-repeat bg-fixed ">
  <div class="w-24 h-full absolute rounded-r-lg bg-white rounded-tr-3xl inset-0">

  </div>
  <div class="max-w-screen-2xl mx-auto">
    <div class="text-center space-y-4 ">

      <p class="text-primaryRed">OUR GALLERY </p>
      <h2 class="text-4xl text-gray-800 font-bold font-[Asap]">
        Recent Work


      </h2>
      <div class="w-12 h-[2px] bg-primaryRed flex self-center mx-auto	"></div>

      <p class="text-sm text-gray-500">
        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express
        promise no. Past add size game cold girl off how old


      </p>

    </div>


    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-16 max-w-7xl mx-auto">

      <div class="h-[500px] relative group">
        <img src="../assets/images/gallary1.jpeg" class="w-full h-full object-cover">
        <div class="h-full w-full absolute bottom-0 p-6 bg-black/30 hidden group-hover:block">
          <div class="space-y-2 absolute bottom-5">
            <p class="text-sm text-white">
              Finance
            </p>
            <h2 class="text-xl text-white font-bold">

              Startup Funding
            </h2>
            <div class="w-10 h-10 rounded-full bg-primaryRed flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </div>

          </div>
        </div>
      </div>

      <div class="h-[500px] relative group">
        <img src="../assets/images/gallary2.jpeg" class="w-full h-full object-cover">
        <div class="h-full w-full absolute bottom-0 p-6 bg-black/30 hidden group-hover:block">
          <div class="space-y-2 absolute bottom-5">
            <p class="text-sm text-white">
              Creative
            </p>
            <h2 class="text-xl text-white font-bold">

              Accounting Advisory

            </h2>
            <div class="w-10 h-10 rounded-full bg-primaryRed flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </div>

          </div>
        </div>


      </div>

      <div class="h-[500px] relative group">
        <img src="../assets/images/gallary3.jpeg" class="w-full h-full object-cover">
        <div class="h-full w-full absolute bottom-0 p-6 bg-black/30 hidden group-hover:block">
          <div class="space-y-2 absolute bottom-5">
            <p class="text-sm text-white">
              Business
            </p>
            <h2 class="text-xl text-white font-bold">

              Merger & Acquisition
            </h2>
            <div class="w-10 h-10 rounded-full bg-primaryRed flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </div>

          </div>
        </div>
      </div>

      <div class="col-span-3 flex items-center justify-center w-full mt-8">
        <button type="button" class="font-normal font-[Asap] bg-primaryRed text-gray-100 px-6 py-3 rounded-full">View
          More 3/9</button>
      </div>


    </div>


  </div>
</section>

<!-- === Gallary=== -->




<!-- ====== Team Members ===== -->
<section id="" class="py-20">

  <div class="max-w-screen-2xl mx-auto">
    <div class="text-center space-y-4 ">

      <p class="text-primaryRed">MEET OUR EXPERTS</p>
      <h2 class="text-4xl text-gray-800 font-bold font-[Asap]">
        Team Members


      </h2>
      <div class="w-12 h-[2px] bg-primaryRed flex self-center mx-auto	"></div>

      <p class="text-sm text-gray-500">
        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express
        promise no. Past add size game cold girl off how old


      </p>

    </div>


    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-16 max-w-7xl mx-auto">

      <div class="h-[500px] relative group">
        <img src="../assets/images/team1.jpeg" class="w-full h-full object-cover">
        <div
          class="hidden group-hover:flex flex-col items-center justify-center w-fwll h-full absolute inset-y-0 p-6 space-y-4 bg-black/50">
          <h2 class="text-lg text-white font-bold leading-tight flex flex-col items-center">

            Ahmad Kamal
          </h2>

          <p class="text-sm text-white leading-6 text-center">
            Btuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter pushing
            point.
          </p>
          <ul class="flex space-x-3">

            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>
            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="twitter"
                class="svg-inline--fa fa-twitter fa-w-16 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
              </svg>
            </li>

            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="instagram"
                class="svg-inline--fa fa-instagram fa-w-14 h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
              </svg>
            </li>

          </ul>

        </div>
        <div class="h-full w-full absolute bottom-0 p-6 bg-black/30  group-hover:hidden">
          <div class="w-full space-y-2 absolute inset-x-0 bottom-5 flex flex-col items-center">

            <h2 class="text-lg text-white font-bold leading-tight">

              Jessica Jones
            </h2>

            <p class="text-sm text-white">
              FOUNDER OF FACTORY
            </p>


          </div>
        </div>
      </div>

      <div class="h-[500px] relative group">
        <img src="../assets/images/team2.jpeg" class="w-full h-full object-cover">
        <div
          class="hidden group-hover:flex flex-col items-center justify-center w-fwll h-full absolute inset-y-0 p-6 space-y-4 bg-black/50">
          <h2 class="text-lg text-white font-bold leading-tight flex flex-col items-center">

            Ahmad Kamal
          </h2>

          <p class="text-sm text-white">
            Btuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter pushing
            point.
          </p>
          <ul class="flex space-x-3">

            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>
            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>

            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>

          </ul>

        </div>
        <div class="h-full w-full absolute bottom-0 p-6 bg-black/30  group-hover:hidden">
          <div class="w-full space-y-2 absolute inset-x-0 bottom-5 flex flex-col items-center">
            <h2 class="text-lg text-white font-bold leading-tight ">

              Munia Ankor
            </h2>

            <p class="text-sm text-white">
              ARCHICTECT
            </p>

          </div>
        </div>


      </div>

      <div class="h-[500px] relative group">
        <img src="../assets/images/team3.jpeg" class="w-full h-full object-cover">

        <div
          class="hidden group-hover:flex flex-col items-center justify-center w-fwll h-full absolute inset-y-0 p-6 space-y-4 bg-black/50">
          <h2 class="text-lg text-white font-bold leading-tight flex flex-col items-center">

            Ahmad Kamal
          </h2>

          <p class="text-sm text-white">
            Btuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter pushing
            point.
          </p>
          <ul class="flex space-x-3">

            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>
            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>

            <li class="w-10 h-10 rounded-full bg-white flex items-center justify-center">
              <svg aria-hidden="true" data-prefix="fab" data-icon="facebook-f"
                class="svg-inline--fa fa-facebook-f fa-w-10 h-4 w-4 " xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                  d="m279.14 288 14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
              </svg>
            </li>

          </ul>

        </div>


        <div class="h-full w-full absolute bottom-0 p-6 bg-black/30  group-hover:hidden">
          <div class="w-full space-y-2 absolute inset-x-0 bottom-5 flex flex-col items-center">
            <h2 class="text-lg text-white font-bold leading-tight flex flex-col items-center">

              Ahmad Kamal
            </h2>

            <p class="text-sm text-white">
              ENGINEERING OFFICER
            </p>

          </div>
        </div>
      </div>

      <div class="col-span-3 flex items-center justify-center w-full mt-8">
        <button type="button" class="font-normal font-[Asap] bg-primaryRed text-gray-100 px-6 py-3 rounded-full">View
          More 3/9</button>
      </div>


    </div>


  </div>
</section>

<!-- ======== Team Members ====== -->




<section class="py-20 bg-gray-200">
  <div class="max-w-screen-xl mx-auto">
    <div class="flex items-center">
      <div class="w-1/2">
        <div class="">
          <div class="">

            <h2 class="text-[200px] font-bold bg-clip-text text-transparent bg-right"
              style="background-image: url('../assets/images/bgheading.jpeg');">
              85
            </h2>
            <h2 class="max-w-sm text-3xl font-bold text-gray-800 tracking-wide">
              Millions of Customers
              Like Our Services
            </h2>
          </div>

        </div>
      </div>
      <div class="w-1/2">

        <div class="bg-white px-6 py-12 pacity-20 relative">
          <div class="absolute w-full h-full opacity-10 inset-y-0 bottom-0">
            <img src="../assets/images/map.png" class="h-56">
          </div>
          <div class="flex">
            <div class="w-16">
              <svg aria-hidden="true" data-prefix="fas" data-icon="quote-right"
                class="svg-inline--fa fa-quote-right fa-w-16 h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" />
              </svg>
            </div>
            <div class="flex-1 space-y-4">

              <ul class="flex space-x-2">
                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="star"
                    class="svg-inline--fa fa-star fa-w-18 w-4 h-4 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M259.3 17.8 194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                  </svg>
                </li>

                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="star"
                    class="svg-inline--fa fa-star fa-w-18 w-4 h-4 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M259.3 17.8 194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                  </svg>
                </li>

                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="star"
                    class="svg-inline--fa fa-star fa-w-18 w-4 h-4 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M259.3 17.8 194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                  </svg>
                </li>

                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="star"
                    class="svg-inline--fa fa-star fa-w-18 w-4 h-4 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M259.3 17.8 194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                  </svg>
                </li>

                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="star"
                    class="svg-inline--fa fa-star fa-w-18 w-4 h-4 text-primaryRed" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                      d="M259.3 17.8 194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                  </svg>
                </li>
              </ul>

              <p class="leading-6">

                I feel very happy and be proud to connect with absolute industry. Pure presume this is a very productive
                and perfect professional industry. I wish very good luck & success for this industry. Through it examine
                express game.
              </p>
            </div>
          </div>

          <div class="flex justify-between mt-6">
            <div class="">
              <figure class="flex space-x-4">
                <img src="../assets/images/team1.jpeg" class="h-12 rounded-full w-12 border-4">
                <figcaption>
                  <h2 class="font-bold">Jones Adhor</h2>
                  <p>DESIGNER</p>
                </figcaption>
              </figure>
            </div>
            <div class="flex justify-center items-center">
              <ul class="flex space-x-2">

                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="long-arrow-alt-left"
                    class="svg-inline--fa fa-long-arrow-alt-left fa-w-14 h-4 w-4 text-primaryRed"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                      d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                  </svg>
                </li>

                <li>
                  <svg aria-hidden="true" data-prefix="fas" data-icon="long-arrow-alt-right"
                    class="svg-inline--fa fa-long-arrow-alt-right fa-w-14 h-4 w-4 text-primaryRed"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                      d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z" />
                  </svg>
                </li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="bg-navyBlueDark relative">

  <div class="hidden lg:block absolute max-w-5xl w-full h-96 bg-primaryRed -left-20 -skew-x-12"></div>
  <div class="h-96 items-center justify-center flex flex-col lg:flex-row max-w-screen-xl mx-auto py-20 relative">

    <div class="w-full lg:w-1/2">

      <div class="space-y-3">
        <h2 class="text-white text-3xl font-bold">Our Partners</h2>
        <p class="text-white font-normal text-sm max-w-lg">Forming two comfort invited. Yet she income effect edward.
          Entire desire way design few. Mrs sentiments led
          solicitude estimating friendship fat. Meant those event</p>
      </div>
    </div>
    <div class="w-full lg:w-1/2 ">
      <div class="flex item-center justify-center space-x-8">
        <div class="w-24">
          <img src="../assets/images/client1.png">
        </div>
        <div class="w-24">
          <img src="../assets/images/client1.png">
        </div>
        <div class="w-24">
          <img src="../assets/images/client1.png">
        </div>
      </div>
    </div>

  </div>
</section>