
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&family=Gwendolyn&family=Londrina+Outline&family=Noto+Kufi+Arabic:wght@100&display=swap');

/* body{
    font-family: 'Asap', sans-serif;
font-family: 'Gwendolyn', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Noto Kufi Arabic', sans-serif;
} */